<h1>An Author</h1>
<br />
<div class="container">
    <div>
        <div class="card author">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ author.attributes.name }} ({{ id }})</p>
                        <p class="subtitle is-6">{{ author.attributes.date_of_birth | date }} - {{ author.attributes.date_of_death | date }} </p>
                    </div>
                </div>

                <div class="content">
                    <div class="list is-hoverable">
                        <a class="list-item" *ngFor="let book of author.relationships.books.data">
                            Featured
                        </a>
                    </div>
                </div>
                <a class="button is-primary" [routerLink]="['author', author.id]">See details</a>
            </div>
        </div>
        <br />
    </div>
</div>